.Rproj.user
.Rhistory
.RData
.Ruserdata
.ipynb_checkpoints/prototype4-checkpoint.ipynb
.ipynb_checkpoints/prototype4-checkpoint.py
__pycache__/
build/
dist/
facebook_post.png
images/prototype3.png
images/protoype3.png
prototype4.spec
myapp-0.1-armeabi-v7a-debug.apk
prototype1.ipynb
prototype2.ipynb
prototype3.ipynb
prototype3.py
mock.py